@import "./src/assets/scss/variables";

$navbar-height: 3.25rem !default;
$navbar-z: 30 !default;

.navbar {
  background-color: $scheme-main;
  min-height: $navbar-height;
  position: relative;
  z-index: $navbar-z;
}
