.btn {

  &--with-spinner {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__spinner {
    visibility: hidden;
    position: absolute;
  }

  &--loading {
    pointer-events: none;

    .btn {
      &__text {
        visibility: hidden;
      }

      &__spinner {
        visibility: visible;
      }
    }
  }
}
